@media only screen and (min-width: 768px) {
    .input-group {
        width: 75%;
    }
}

@media only screen and (min-width: 992px) {
    .input-group {
        width: 75%;
    }

    .input-container {
        width: 50% !important;
    }
}