@font-face {
  font-family: "iransans";
  src: url("../fonts/IRANSansWeb.eot") format("eot"),
    url("../fonts/IRANSansWeb.ttf") format("truetype"),
    url("../fonts/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSansWeb.woff2") format("woff2");
}
/* default-styles */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "iransans", serif;
}
.main-color {
  color: rgb(33, 33, 180);
}
.main-bg-color {
  background-color: rgb(33, 33, 180);
}
/*header*/
header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    120deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 25%,
    rgba(0, 212, 255, 1) 100%
  );
}
.navbar-toggler{
  border-color: #fff !important;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #1fa2ff 0%,
    #12d8fa 51%,
    #1fa2ff 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 10px #eee;
  width: 150px;
}
.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
.nav-link::before{
  content: "";
  width: 0px;
  height: 2px;
  background: rgb(255, 255, 255);
  position: absolute !important;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover::before{
  width: 100% !important;
  cursor: pointer;
}
.totop-container{
  bottom: 1%;
  right: 1%;
  z-index: 100;
  cursor: pointer;
  border: 1px solid #0d6efd;
  transition: all 0.3s ease-in-out;
}
.totop-container:hover{
  background: transparent !important;
  border: 1px solid #fff;
  color: #130cb7;
}
/* search */
.search {
  padding: 200px 0;
}
.fa-globe,
.fa-search {
  top: 25% !important;
}
.fa-globe {
  right: 10px;
}
.fa-search {
  left: 10px;
}
/*services*/
.services {
  padding: 100px 0;
  background-color: rgb(235, 244, 255);
}
.service img {
  width: 150px;
  height: 150px;
}
/*plans*/
.plans {
  padding: 100px 0;
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(6, 39, 131, 0.8)),
    url("../img/services-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.plan-icon {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
}
.plan-1 {
  background: #ac9a00;
}
.plan-2 {
  background: #6e6e6e;
}
.plan-3 {
  background: #7a570a;
}
.plan-type {
  border-top-left-radius: 3.25rem !important;
  border-top-right-radius: 3.25rem !important;
}
.plan-main {
  -webkit-box-shadow: -5px 5px 34px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 5px 34px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 5px 34px -3px rgba(0, 0, 0, 0.75);
}
/*info*/
.info{
  padding: 100px 0;
}
/* questions */
.main-question{
  padding: 100px 0;
}
.accordion-button::after{
  margin-left: 0 !important;
  margin-right: auto;
}
/* footer */
footer{
  background: #2019dd;
  padding: 100px 0 50px 0;
}
.footer-btn{
  box-shadow: none !important;
}
.footer-img{
  bottom: 0;
  right: 0;
}
.contact-us input{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.logo{
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.logo:hover{
  cursor: pointer !important;
  transform: scale(1.2);
}
.column ul li a:hover{
  color: #040c38 !important;
  text-decoration: underline !important;
}
/* mobile-menu */
.mobile-menu{
  top: 0;
  right: -100%;
  background: #11293b;
  z-index: 1000;
  transition: all 0.5s ease-in-out !important;
}
.mobile-menu button{
  top: 2%;
  left: 2%;
}
/* media-query */
@media only screen and (min-width: 768px) {
  .intro {
    padding: 100px 0 !important;
  }
  .input-group{
    width: 75%;
  }
  header{
    height: 100vh;
  }
}
@media only screen and (min-width: 992px) {
  .input-container {
    width: 50% !important;
  }
}