/******** base codes *******/

@font-face {
  font-family: "IRANSansWeb";
  src: url("../fonts/IRANSansWeb(FaNum)_Medium.eot") format("eot"),
    url("../fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype"),
    url("../fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'iranyekan';
  src: url('/fonts/IRANYekanXFaNum-Regular.woff2') format('woff2'),
    url('/fonts/IRANYekanXFaNum-Bold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "iranyekan";
  text-align: right;
}

.main-color,
.btn-grad:hover {
  color: #00BFFF;
}

.main-bg-color,
.btn-grad {
  background-color: rgb(33, 33, 180);
}

.btn-grad {
  background: #1E90FF;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 8px #eee;
  text-align: center;
}

.btn-grad:hover {
  background: #00BFFF;
}

.gradient-background {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
}

.main-title {
  text-shadow: 2px 2px 10px rgba(0, 120, 255, 0.6),
    -2px -2px 10px rgba(0, 180, 255, 0.4);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*****header*****/

.nav-link {
  text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
  cursor: pointer;
}

.nav-link::before {
  content: "";
  transform: scaleX(0);
  transform-origin: center;
  height: 2px;
  background: #fff;
  position: absolute !important;
  bottom: 0;
  right: 0;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.nav-link:hover::before {
  transform: scaleX(1);
}

.banner__nav-buttons button i:hover {
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}

/*****search*****/

.search {
  padding: 100px 0;
}

.input-container i {
  transform: translate(50%, 40%);
}

/*****services*****/

.services {
  padding: 100px 0;
  background-color: rgb(235, 244, 255);
}

.service img {
  width: 150px;
  height: 150px;
}

/*****plans*****/

.plans {
  padding: 100px 0;
  background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(6, 39, 131, 0.8)),
    url("src/assets/png/plans-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.plan-icon {
  width: 100px;
  height: 100px;
  background-image: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
}

.plan-1 {
  background: #ac9a00;
}

.plan-2 {
  background: #6e6e6e;
}

.plan-3 {
  background: #7a570a;
}

.plan-type {
  top: 0;
  right: 0;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.plan-main {
  box-shadow: -5px 5px 34px -3px rgba(0, 0, 0, 0.75);
}

/*****info*****/

.info {
  padding: 100px 0;
}

/*****questions*****/

.main-question {
  padding: 100px 0;
}

.accordion-body {
  text-align: justify;
}

.accordion-button {
  background-color: rgb(21, 165, 231);
}

.accordion-button::after {
  left: 3%;
  position: absolute;
}

/*****footer*****/

footer {
  padding: 100px 30px 100px 30px;
  position: relative;
}

footer:before {
  background: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  content: "";
  transform: rotate(45deg);
  top: -25px;
  left: calc((100% - 50px)/2);
}

.footer__contact__btn {
  transition: 0.3s ease-in-out;
  height: 40px;
}

.footer__contact__btn:hover {
  background-color: #0013e1;
}

.footer__detail p {
  text-align: justify
}
.bi-telegram::before,.bi-instagram::before,.bi-whatsapp::before{
  font-size: 30px;
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}


/*****mobile-menu*****/
.mobile-menu {
  height: 80px;
  box-shadow: inset -3px 8px 13px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px 30px 0 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
}

.mobile-menu li a i {
  color: #258eff;
}

.mobile-menu li a i:hover {
  transform: scale(1.2);
  color: #090088;
}

/*****responsive*****/
@media only screen and (min-width: 568px) {
  .plan {}

  .footer__upper {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .input-group {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  header {
    height: 100vh;
  }

  .input-group {
    width: 75%;
  }

  .input-container {
    width: 50% !important;
  }
}